.super-mario {
    width: 200px;
    position: absolute;
    left: 85px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 400px;
    left: 138px;
  }
  
  .baloon {
    z-index: 1;
    position: absolute;
    top: 250px;
    left: 300px;
  }
  
  .speach {
    z-index: 2;
    font-size: 25px;
    position: absolute;
    top: 290px;
    left: 320px;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    top: 426px;
    left: 568px;
  }